:root {
    --primary: #1E1E1E;
    --secondary: #FFFFFF;
    --tertiary: #285641;
    --quadratory: #FABE79;
    --jackets: #EBEBEB;
    --discount: #E54B33;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    overflow: hidden;
    overflow: scroll;
}

a {
    text-decoration: none;
    color: var(--primary);
}

.main-container img {
    position: relative;
    height: 78vh;
    width: 100vw;
    object-fit: cover;
}

.main-container article {
    position: absolute;
    top: 1rem;
    height: 1200px;
    margin-left: 1rem;
    margin-right: 1rem;
    color: var(--secondary);
    font-size: 1rem;
}

.main-container article h3 {
    margin: 2rem 0 0 0;
}

.shadow-tilt {
    position: absolute;
    top: 94px;
    width: 100vw;
    height: 78vh;
    background-color: rgba(0, 0, 0, 0.374);
}

.shadow-tilt article :nth-child(1) {
    font-size: 32px;
    margin-top: 0;
    text-align: center;
}

.shadow-tilt article :nth-child(8) {
    margin-top: 1rem;
}

.sections a {
    text-decoration: none;
}

/* Extra Large (xl) */
@media (min-width: 1280px) {
    /* Your styles for the extra large breakpoint here */
    .main-container img {
        width: 100vw;
        height: 143vh;
    }

    .shadow-tilt {
        height: 143vh;
    }

    .shadow-tilt article {
        margin: 2rem 2rem 0 2rem;
        height: auto;
        font-size: 1.5rem;
    }

    .shadow-tilt article :nth-child(8) {
        margin-top: 4rem;
    }
}
