:root {
    --primary: #1E1E1E;
    --secondary: #FFFFFF;
    --tertiary: #285641;
    --quadratory: #FABE79;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: 16px;
}

.burger-menu {
    margin-left: 16px;
    margin-right: 24px;
}

.language-en {
    margin-right: 16px;
}

.logo-rain {
    margin-left: 38px;
}

.desktop-menu {
    display: none;
}

.navbar-icons {
    display: flex;
    margin-right: 16px;
}

.heart-favourite {
    margin-left: 24px;
    margin-right: 16px;
}

.search-glass {
    margin-right: 16px;
}
.bag-checkout {
    margin-right: 16px;
}

/* Extra Large (xl) */
@media (min-width: 1280px) {
    /* Your styles for the extra large breakpoint here */
    nav {
        display: flex;
        justify-content: center;
        border-bottom: 1px solid var(--primary);
        padding-bottom: 16px;
    }

    a {
        text-decoration: none;
        color: var(--primary);
        font-family: 'Roboto', sans-serif;
    }

    .burger-menu, .language-en {
        display: none;
    }

    .desktop-menu {
        display: flex;
        width: 100vw;
        justify-content: center;
        gap: 3rem;
        font-size: 1.3rem;
        font-weight: 400;
    }

    .navbar-icons {
        display: flex;
    }
}