:root {
    --primary: #1E1E1E;
    --secondary: #FFFFFF;
    --tertiary: #285641;
    --quadratory: #FABE79;
    --jackets: #EBEBEB;
    --discount: #E54B33;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    overflow: hidden;
    overflow: scroll;
}

a {
    text-decoration: none;
    color: var(--primary);
}

/* Here are my styles for my main picture */
.main-picture-home {
    display: flex;
    justify-content: center;
    max-height: 350px;
    object-fit: fill;
}

.main-picture-home img {
    width: 100%;
    z-index: 5;
    position: relative;
}

.main-picture-home h1 {
    position: absolute;
    z-index: 10;
    font-size: 24px;
    color: var(--secondary);
    font-weight: lighter;
}

.big-screen img {
    display: none;
}

/* Styles for my free shipping and top quality */
.free-shipping {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.first-advantage {
    display: flex;
    min-width: 40%;
    width: 215px;
    align-items: center;
    gap: 16px;
    margin-left: 16px;
    white-space: nowrap;
}

.first-advantage p {
    font-size: 24px;
}

.second-advantage {
    display: flex;
    min-width: 50%;
    align-items: center;
    gap: 16px;
    padding-left: 32px;
}

.second-advantage p {
    font-size: 24px;
}

/* Here is the styles for my popular jackets */
.jackets-section {
    overflow: hidden;
}

.popular-jackets {
    display: flex;
    background-color: var(--jackets);
    flex-direction: column;
    align-items: flex-start;
}

.popular-jackets h2 {
    margin: 0;
    padding: 8px 0 16px 0;
    font-size: 1.5em;
    align-self: center;
}

/* These are my styles for my hearts */
.heart-one {
    position: absolute;
}

/* These are the styles for my secondary picture */
.second-pic-home {
    position: relative;
    display: flex;
    justify-content: center;
    max-height: 652px;
    object-fit: fill;
    padding: 2rem 0 2rem 0;
    width: 100%;
}

.second-pic-home img {
    width: 100%;
    display: flex;
}

.second-pic-home h2 {
    position: absolute;
    font-size: 24px;
    color: var(--secondary);
    font-weight: lighter;
}

.buttons-shop {
    display: flex;
    position: absolute;
    gap: 1rem;
    bottom: 80px;
}

.buttons-shop button {
    color: var(--primary);
    background-color: var(--quadratory);
    width: 183px;
    height: 45px;
    font-size: 1rem;
}

.picture-second img {
    display: none;
}



/* These are my styles for my sales jackets */
.sales-jackets {
    display: flex;
    background-color: var(--jackets);
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
}

.sales-jackets h2 {
    margin: 0;
    padding: 8px 0 16px 0;
    align-self: center;
}

.sales-carussell {
    display: flex;
    top: 0;
    left: 0;
    margin: 0 16px 0 16px;
    gap: 1rem;
    overflow: hidden;
}

.sales-carussell h3 {
    color: var(--tertiary);
    font-size: 20px;
}

.sales-carussell h4 {
    font-size: 20px;
}

.work-jacket {
    position: relative;
}

.heart-shape {
    position: absolute;
    z-index: 1;
}

.container-second div {
    text-decoration: line-through;
}

.container-second span {
    color: var(--discount);
}

.heart-shape {
    position: absolute;
}

.elite-jacket {
    position: relative;
    text-align: center;
}

.elite-jacket h3 {
    font-size: 32px;
    font-weight: bold;
    color: var(--tertiary);
    display: flex;
    flex-direction: column;
    margin: 1rem;
    align-items: center;
    border-bottom: 1px solid var(--primary);
}

.elite-jacket div {
    text-decoration: line-through;
}

.elite-jacket span {
    color: var(--discount);
}


/* Extra Large (xl) */
@media (min-width: 1280px) {
    /* Your styles for the extra large breakpoint here */
    .main-picture-home img {
        display: none;
    }

    .main-picture-home h1 {
        color: #374151;
        font-size: 2rem;
    }

    .big-screen img {
        display: flex;
        object-fit: fill;
        height: 382px;
        width: 100vw;
    }

    .sales-carussell {
        gap: 3rem;
    }
    

    .second-pic-home img {
        display: none;
    }

    .picture-second img {
        display: flex;
        height: 382px;
        width: 100vw;
    }

    .second-pic-home h2 {
        color: #374151;
        font-size: 2rem;
    }
    
    .free-shipping {
        display: none;
    }
    
    .popular-jackets {
        margin-top: 32px;
        display: flex;
        align-items: center;
    }

    .popular-jackets h2 {
        font-size: 2rem;
    }

    .sales-jackets {
        display: flex;
        align-items: center;
    }

    .sales-jackets h2 {
        font-size: 2rem;
    }

    .buttons-shop {
        width: 100%;
        justify-content: space-evenly;
    }

    .buttons-shop button {
        font-size: 1.5rem;
        width: 300px;
        height: 60px;
    }

    .buttons-shop button:hover {
        cursor: pointer;
        background-color: #FFE2C0;
    }
}
